@import url('https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');

body {
    font-family: 'Petrona', serif;
    color: #020202;
    font-weight: 200;
    /* line-height: 1.58; */
    /* letter-spacing: -.003em; */
    /* font-size: 20px; */
    
  }